* {
  margin: 0;
  padding: 0;
}

.wrap-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play-time { 
  font-size: 3rem;
  margin-top: 2rem;
  color: #3b5998;
}

.start-button {
  background-color: #3b5998;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.game-text {
  position: absolute;
  font-size: 45px;
  color: #67c23a;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  /* display: none; */
}